body {
    margin: 0;
    display: flex;
    justify-content: center;
}

table {
    border-collapse: collapse; 
    margin-top: 50px;
    line-height: 1.1;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: #0C213B;
}

caption {
    padding: 10px; 
    text-align: left;
}

th {
    padding: 10px; 
    border: 2px solid #0000FF;
    font-weight: 100;
}

td {
    font-size: 0.8em;
    padding: 10px 7px;
    border: 2px solid #0000FF;
}

.first {
    font-size: 1em;
    text-align: center;
}